{% extends 'base.html' %}
{% block title %} Contact Us {% endblock %}
{% block content %}
  <div class="container"> <br>
    <h3>Dear User,</h3>
    <p>Thank you very much for choosing to use BlogHome. We are working very hard
        to make your experience with this site better and better. <br> If you have any question,
        any tips on how to make BlogHome better, any complaint or feedback please contact this
        email 'shalomirewoleojo@yahoo.com' or <a href="mailto:shalomirewoleojo@yahoo.com"> click here.</a>
    </p>
  </div>
{% endblock %}