<div class="col-lg-6 col-md-6 col-sm-12 him">
    <a href="{% url 'upchange' %}" type="button" class="sog">Change Password</a>
    <a href="{% url 'userupdate' %}" type="button" class="sog">Edit Profile</a>
    <a href="{% url 'subscriptions' %}" type="button" class="sog">Subscriptions</a>
    <a href="{% url 'myworks' %}" type="button" class="sog">My Works</a>
    <a href="{% url 'contact' %}" type="button" class="sog">Contact Us</a>
    <a href="{% url 'logout' %}" type="button" class="sog">Logout</a>
</div>